.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


html{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.container{
    background-color: hsl(0, 0%, 12%);
    max-width: 384px;
}
*{
    margin: 0;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 8%);
}
.card{
    padding: 40px;
    /*justify-items: center; this will cancel height & width*/
    text-align: center;
}
.link-btn{
    background-color: hsl(0, 0%, 20%);
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}
.link-btn:focus, .link-btn:hover{
    color: hsl(0, 0%, 8%);
    cursor: pointer;
    background-color: hsl(75, 94%, 57%);
}
nav{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
figure, header, .tag{
    padding-bottom: 24px;
}
.heading, .tag,.link-btn{
    color: hsl(0, 0%, 100%);
}
.location{
    color: hsl(75, 94%, 57%);
    font-weight: bold;
}
.location, .tag{
    font-size: 14px;
}
.tag{
    font-weight: 400; /*weight values should be numbers not px*/
}
.heading, .location, .tag,.link-btn{
    letter-spacing: 0px;
    line-height: 150%;
}
.heading{
    padding-bottom: 4px;
    font-weight: 700px;
    font-size: 24px;
}
figure img{
    border-radius: 999px;
    height: 88px;
}
@media(max-width:375px){
    .container{
    max-width: 327px;
    }
    .card{
    padding: 24px;
    }
}